{% extends "components/link.html" %} {% block class %}id="off-canvas-right"
class="off-canvas-right"{% endblock %} {% load static %} {% block current %}
Shelf / {{book.title}}{% endblock %} {% block rest %}
<div class="product-deatils-section float-left w-100">
  <div class="container">
    <div class="row">
      <div class="left-columm col-lg-5 col-md-5">
        <div class="product-large-image tab-content">
          <div
            class="tab-pane active"
            id="product-01"
            role="tabpanel"
            aria-labelledby="product-tab-01"
          >
            <div class="single-img img-full">
              <a href="{{book.coverpage.url}}"
                ><img
                  src="{{book.coverpage.url}}"
                  class="img-fluid zoomImg"
                  alt=""
              /></a>
            </div>
          </div>
          <div
            class="tab-pane"
            id="product-02"
            role="tabpanel"
            aria-labelledby="product-tab-02"
          >
            <div class="single-img">
              <a href="{{book.coverpage.url}}"
                ><img
                  src="{{book.coverpage.url}}"
                  class="img-fluid"
                  alt=""
              /></a>
            </div>
          </div>
        </div>
        <div class="default small-image-list float-left w-100">
          <div
            class="nav-add small-image-slider-single-product-tabstyle-3 owl-carousel"
            role="tablist"
          >
            <div class="single-small-image img-full">
              <a
                data-toggle="tab"
                id="product-tab-01"
                href="#product-01"
                class="img active"
                ><img src="img/products/01.jpg" class="img-fluid" alt=""
              /></a>
            </div>
          </div>
        </div>
      </div>
      <div class="right-columm col-lg-7 col-md-7">
        <div class="product-information">
          <h4 class="product-title text-capitalize float-left w-100">
            <a href="product-details.html" class="float-left w-100"
              >{{book.title}}</a
            >
          </h4>
          <div class="description">
            {{book.description}}
          </div>
          <div class="rating">
            <div class="product-ratings d-inline-block align-middle">
                        {% for i in "12345" %}
                          {% if i <= book.average_rating %}
                            <span class="fa fa-stack">
                              <i class="material-icons">star</i>
                            </span>
                          {% else %}
                            <span class="fa fa-stack">
                              <i class="material-icons off">star</i>
                            </span>
                          {% endif %}
                        {% endfor %}
            </div>
            ({{book.total_rating}})
          </div>
          <div class="price float-left w-100 d-flex">
            <div class="regular-price">{{book.history.all.count}}</div>
            <div class="regilar-price">people borrowed it</div>
          </div>
          <div class="price float-left w-100 d-flex">
            <div class="regular-price">{{book.views}}</div>
            <div class="regilar-price">people liked it</div>
          </div>
          <div class="product-variants float-left w-100"></div>
          <div class="btn-cart d-flex align-items-center float-left w-100">
            
            {% if user.is_authenticated %}
                {% if book in shelf.books.all %}
                    <a
                      href="{% url 'remshelf' user.username book.id %}"
                      class="btn btn-danger btn-cart m-0"
                    >
                      <i class="material-icons">delete</i> Remove from my shelf
                    </a>
                {% else %}
                    <a
                      href="{% url 'addshelf' user.username book.id %}"
                      class="btn btn-primary btn-cart m-0"
                    >
                      <i class="material-icons">shelves</i> Add to my shelf
                    </a>
                {% endif %}
            {% endif %}
          </div>
          <div class="btn-cart d-flex align-items-center float-left w-100">
            
            {% if user.is_authenticated %}
                {% if book in fav.books.all %}
                    <a
                      href="{% url 'remwish' user.username book.id %}"
                      class="btn btn-danger btn-cart m-0"
                    >
                      <i class="material-icons">delete</i> Remove from my favorite
                    </a>
                {% else %}
                    <a
                      href="{% url 'addwish' user.username book.id %}"
                      class="btn btn-primary btn-cart m-0"
                    >
                      <i class="material-icons">favorite</i> Add to my favorite
                    </a>
                {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="product-tab-area float-left w-100">
  <div class="container">
    <div class="tabs">
      <ul class="nav nav-tabs justify-content-start">
        <li class="nav-item">
          <a
            class="nav-link active"
            data-toggle="tab"
            href="#product-tab1"
            id="tab1"
            ><div class="tab-title">Description</div></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#product-tab2" id="tab2"
            ><div class="tab-title">Reviews ({{book.total_rating}})</div></a
          >
        </li>
      </ul>
    </div>
    <div class="tab-content float-left w-100">
      <div
        class="tab-pane active"
        id="product-tab1"
        role="tabpanel"
        aria-labelledby="tab1"
      >
        <div class="description">
          {{book.description}}
        </div>
      </div>
      <div
        class="tab-pane"
        id="product-tab2"
        role="tabpanel"
        aria-labelledby="tab2"
      >
        <div class="reviews-tab float-left w-100">
          <div class="ttreview-tab float-left w-100 p-30">
            <h2>Customer Reviews</h2>
            <div class="rating float-left w-100">
              <div class="product-ratings d-inline-block align-middle">
                <span class="fa fa-stack"
                  ><i class="material-icons">star</i></span
                >
                <span class="fa fa-stack"
                  ><i class="material-icons">star</i></span
                >
                <span class="fa fa-stack"
                  ><i class="material-icons">star</i></span
                >
                <span class="fa fa-stack"
                  ><i class="material-icons off">star</i></span
                >
                <span class="fa fa-stack"
                  ><i class="material-icons off">star</i></span
                >
              </div>
            </div>
            <div class="review-title float-left w-100">
              <span class="user">admin</span>
              <span class="date">– February 14, 2019</span>
            </div>
            <div class="review-desc float-left w-100">
              Aliquam at ipsum tellus. Donec arcu est, posuere quis orci vel,
              commodo cursus augue.
            </div>
          </div>
          <form action="#" class="rating-form float-left w-100">
            <h5>Add your rating</h5>
            <div class="rating">
              <div class="rating-stars text-left">
                <ul id="stars">
                  <li class="star" title="Poor" data-value="1">
                    <i class="material-icons">star</i>
                  </li>
                  <li class="star" title="Fair" data-value="2">
                    <i class="material-icons">star</i>
                  </li>
                  <li class="star" title="Good" data-value="3">
                    <i class="material-icons">star</i>
                  </li>
                  <li class="star" title="Excellent" data-value="4">
                    <i class="material-icons">star</i>
                  </li>
                  <li class="star" title="WOW!!!" data-value="5">
                    <i class="material-icons">star</i>
                  </li>
                </ul>
              </div>
              <div class="success-box">
                <div class="clearfix"></div>
                <div class="text-message text-success"></div>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="row d-block">
              <div class="col-sm-6 float-left form-group">
                <label>Name <span class="required">*</span></label>
                <input type="text" placeholder="" required="" />
              </div>
              <div class="col-sm-6 float-left form-group">
                <label>Email <span class="required">*</span></label>
                <input type="email" placeholder="" id="r-email" required />
              </div>
              <div class="col-sm-12 float-left form-group">
                <label for="r-textarea">Your Review</label>
                <textarea
                  name="review"
                  id="r-textarea"
                  cols="30"
                  rows="10"
                  class="w-100"
                ></textarea>
              </div>
            </div>
            <input
              type="submit"
              class="btn btn-primary submit"
              value="Submit Review"
            />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  id="product-accessories"
  class="product-accessories my-40 w-100 float-left"
>
  <div class="container">
    <div class="row">
      <div class="tt-title d-inline-block float-none w-100 text-center">
        You might also like
      </div>
      <div class="product-accessories-content products grid owl-carousel">
        <div class="product-layouts">
            <div class="product-thumb">
              <div class="image vertical_scrolling_bottom_to_top">
                <a href="product-details.html">
                  <img
                    src="{% static 'img/books/cover1.png' %}"
                    alt="01"
                  />
                  <img
                    src="{% static 'img/books/cover1.png' %}"
                    alt="02"
                    class="second_image img-responsive"
                  />
                </a>
                <!-- <ul class="countdown1 countdown">
                    <li>
                      <span class="days">10</span>
                      <p class="days_text">Days</p>
                    </li>
                    <li>
                      <span class="hours">00</span>
                      <p class="hours_text">Hours</p>
                    </li>
                    <li>
                      <span class="minutes">00</span>
                      <p class="minutes_text">Minutes</p>
                    </li>
                    <li>
                      <span class="seconds">00</span>
                      <p class="seconds_text">Seconds</p>
                    </li>
                  </ul> -->
              </div>
              <div class="thumb-description">
                <div class="caption">
                  <h4 class="product-title text-capitalize">
                    <a href="product-details.html"
                      >aliquam quaerat voluptatem</a
                    >
                  </h4>
                </div>
                <div class="rating">
                  <div
                    class="product-ratings d-inline-block align-middle"
                  >
                    <span class="fa fa-stack"
                      ><i class="material-icons">star</i></span
                    >
                    <span class="fa fa-stack"
                      ><i class="material-icons">star</i></span
                    >
                    <span class="fa fa-stack"
                      ><i class="material-icons">star</i></span
                    >
                    <span class="fa fa-stack"
                      ><i class="material-icons off">star</i></span
                    >
                    <span class="fa fa-stack"
                      ><i class="material-icons off">star</i></span
                    >
                  </div>
                </div>
                <div class="price">
                  <div class="regular-price">
                    <i class="material-icons">group</i> 235
                  </div>
                </div>
                <div class="button-wrapper">
                  <div class="button-group text-center">
                    <button
                      type="button"
                      class="btn btn-primary btn-cart"
                      data-target="#cart-pop"
                      data-toggle="modal"
                      disabled="disabled"
                    >
                      <i class="material-icons">shelves</i
                      ><span>Add to shelf</span>
                    </button>
                    <a
                      href="wishlist.html"
                      class="btn btn-primary btn-wishlist"
                      ><i class="material-icons">favorite</i
                      ><span>wishlist</span></a
                    >

                    <button
                      type="button"
                      class="btn btn-primary btn-quickview"
                      data-toggle="modal"
                      data-target="#product_view"
                    >
                      <i class="material-icons">visibility</i
                      ><span>Quick View</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
