{% extends "components/link.html" %}
{% block class %}id="off-canvas-right" class="off-canvas-right"{% endblock %}
{% load static %} 
{% block current %}Shelf{% endblock %}
{% block rest %}
<div class="main-content w-100 float-left">
    <div class="container">
      <div class="row">
        <div class="content-wrapper-canvas col-xl-12 col-lg-12 order-lg-2">
          <header
            class="product-grid-header d-flex d-xs-block d-sm-flex d-lg-flex w-100 float-left"
          >
            <div
              class="hidden-sm-down total-products d-flex d-xs-block d-lg-flex col-md-3 col-sm-3 col-xs-12 align-items-center p-0"
            >
              <div class="nav" role="tablist">
                <a
                  class="grid active"
                  href="#grid"
                  data-toggle="tab"
                  role="tab"
                  aria-selected="true"
                  aria-controls="grid"
                  ><i class="material-icons align-middle">grid_on</i></a
                >
                
                <a
                  class="sort"
                  href="#sort-view"
                  data-toggle="tab"
                  role="tab"
                  aria-selected="false"
                  aria-controls="sort-view"
                  ><i class="material-icons align-middle">reorder</i></a
                >
              </div>
            </div>
            <div
              class="filter-wrapper d-flex d-sm-flex d-xs-block d-lg-flex col-md-2 col-sm-1 col-xs-12 align-items-center p-0 justify-content-end"
            >
              <div class="filter-title-canvas text-capitalize">filter</div>
            </div>
            <div
              class="shop-results-wrapper d-flex d-sm-flex d-xs-block d-lg-flex col-md-7 col-sm-8 col-xs-12 justify-content-end"
            >
            <div class="shop-results d-flex align-items-center">
              <span>Show</span>
              <div class="shop-select">
                  <form action="" method="get">
                      <select name="number" id="number" onchange="this.form.submit()">
                          <option value="6" {% if items_per_page == 6 %}selected{% endif %}>6</option>
                          <option value="9" {% if items_per_page == 9 %}selected{% endif %}>9</option>
                          <option value="15" {% if items_per_page == 15 %}selected{% endif %}>15</option>
                          <option value="20" {% if items_per_page == 20 %}selected{% endif %}>20</option>
                          <option value="50" {% if items_per_page == 50 %}selected{% endif %}>50</option>
                          <option value="100" {% if items_per_page == 100 %}selected{% endif %}>100</option>
                      </select>
                  </form>
              </div>
          </div>
          <div class="shop-results d-flex align-items-center">
            <span>Sort By</span>
            <div class="shop-select">
                <form action="" method="get">
                    <select name="sort" id="sort" onchange="this.form.submit()">
                        <option value="position" {% if request.GET.sort != 'p-name' %}selected{% endif %}>Default sorting</option>
                        <option value="p-name" {% if request.GET.sort == 'p-name' %}selected{% endif %}>Sort Popularity</option>
                    </select>
                    <!-- Add the number of items select dropdown here as well -->
                </form>
            </div>
        </div>
            </div>
          </header>
          <div class="tab-content text-center products w-100 float-left">
            <div class="tab-pane grid fade active" id="grid" role="tabpanel">
              <div class="row">
{% for book in books %}
                <div class="product-layouts col-lg-3 col-md-3 col-sm-6 col-xs-6">
                  <div class="product-thumb">
                    <div class="image vertical_scrolling_bottom_to_top">
                      <a href="{% url 'book' book.id %}">
                        <img
                          src="{{book.coverpage.url}}"
                          alt="01"
                          style="max-width: 200px;"
                        />
                        <img
                        style="max-width: 200px;"
                          src="{{book.coverpage.url}}"
                          alt="02"
                          class="second_image img-responsive"
                        />
                      </a>
                      <!-- <ul class="countdown1 countdown">
                          <li>
                            <span class="days">10</span>
                            <p class="days_text">Days</p>
                          </li>
                          <li>
                            <span class="hours">00</span>
                            <p class="hours_text">Hours</p>
                          </li>
                          <li>
                            <span class="minutes">00</span>
                            <p class="minutes_text">Minutes</p>
                          </li>
                          <li>
                            <span class="seconds">00</span>
                            <p class="seconds_text">Seconds</p>
                          </li>
                        </ul> -->
                    </div>
                    <div class="thumb-description">
                      <div class="caption">
                        <h4 class="product-title text-capitalize">
                          <a href="{% url 'book' 1 %}"
                            >{{book.title}}</a
                          >
                        </h4>
                      </div>
                      <div class="rating">
                        <div
                          class="product-ratings d-inline-block align-middle"
                        >
                        {% for i in "12345" %}
                          {% if i <= book.average_rating %}
                            <span class="fa fa-stack">
                              <i class="material-icons">star</i>
                            </span>
                          {% else %}
                            <span class="fa fa-stack">
                              <i class="material-icons off">star</i>
                            </span>
                          {% endif %}
                        {% endfor %}
                        </div>
                      </div>
                      <div class="price">
                        <div class="regular-price">
                          <div class="badge">
                            <i class="material-icons">group</i> {{book.history.count}}
                          </div>
                          <div class="badge">
                            <i class="material-icons">visibility</i> {{book.views}}
                          </div>
                        </div>
                      </div>
                      <div class="button-wrapper">
                        <div class="button-group text-center">
                          <button
                            type="button"
                            class="btn btn-primary btn-cart"
                            data-target="#cart-pop"
                            data-toggle="modal"
                            {% if book.status != 'available' %}
                            disabled="disabled"
                            {% endif %}
                          ><a style="text-decoration: none; color: #fff;"
                          onmouseover="this.style.color='black';"
                          onmouseout="this.style.color='#fff';"
                          {% if user.is_authenticated %}
                              {% if book in shelf.books.all %}
                              href="{% url 'remshelf' user.username book.id %}"
                              {% else %}
                              href="{% url 'addshelf' user.username book.id %}"
                              {% endif %}
                            {% endif %}
                          >
                            <i class="material-icons">
                              {% if user.is_authenticated %}
                                {% if book in shelf.books.all %}
                                delete
                                {% else %}
                                shelves
                                {% endif %}
                              {% else %}
                              shelves
                              {% endif %}
                              </i><span>Add to shelf</span>
                          </a>
                          </button>
                          <a
                            {% if user.is_authenticated %}
                              {% if book in fav.books.all %}
                              href="{% url 'remwish' user.username book.id %}"
                              {% else %}
                              href="{% url 'addwish' user.username book.id %}"
                              {% endif %}
                            {% endif %}
                            class="btn btn-primary btn-wishlist"
                            ><i class="material-icons">
                              {% if user.is_authenticated %}
                                {% if book in fav.books.all %}
                                thumb_down
                                {% else %}
                                thumb_up
                                {% endif %}
                              {% else %}
                              sentiment_dissatisfied
                              {% endif %}
                              </i
                            ><span>wishlist</span></a>
  
                          <a
                            href="{% url 'book' 1 %}"
                            type="button"
                            class="btn btn-primary btn-quickview"
                            data-toggle="modal"
                            data-target="#product_view"
                          >
                            <i class="material-icons">visibility</i
                            ><span>Quick View</span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
            <div
              class="tab-pane fade sort text-left"
              id="sort-view"
              role="tabpanel"
            >
            {% for book in books %}
              <div class="product-layouts">
                
                <div class="product-thumb row">
                  <div class="image zoom col-xs-12 col-sm-3 col-md-2">
                    <a
                      href="{% url 'book' book.id %}"
                      class="d-block position-relative"
                    >
                      <img src="{{book.coverpage.url}}" alt="07" />
                      <img
                      src="{{book.coverpage.url}}"
                        alt="08"
                        class="second_image img-responsive"
                      />
                    </a>
                  </div>
                  <div
                    class="thumb-description col-xs-12 col-sm-9 col-md-10 position-static text-left"
                  >
                    <div class="sort-title col-md-5 col-sm-7 float-left">
                      <div class="caption">
                        <h4 class="product-title text-capitalize">
                          <a href="{{book.coverpage.url}}"
                            >{{book.title}}</a
                          >
                        </h4>
                      </div>
                      <div class="rating mb-10">
                        <div class="product-ratings d-inline-block align-middle">
                          {% for i in "12345" %}
                        {% if i <= book.average_rating %}
                          <span class="fa fa-stack">
                            <i class="material-icons">star</i>
                          </span>
                        {% else %}
                          <span class="fa fa-stack">
                            <i class="material-icons off">star</i>
                          </span>
                        {% endif %}
                      {% endfor %}
                        </div>
                      </div>
                      <div class="description mb-10">
                        {{book.description}}
                      </div>
                    </div>
                    <div
                      class="price-main col-md-3 col-sm-5 float-left text-center text-sm-center text-xs-left"
                    >
                      <div class="price">
                        <div class="regular-price"><i class="material-icons">group</i> {{book.history.all.count}}</div>
                        {% if book.status == 'available' %}
                        <div class="regular-price" style="background-color: green; color: #fff; border: 10px; padding: 5px;">Available</div>
                        {% else %}
                        <div class="regular-price" style="background-color: red; color: #fff; border: 10px; padding: 5px;">Not Available</div>
                      {% endif %}
                      </div>
                    </div>
                    <div
                      class="button-wrapper col-md-4 col-sm-5 float-left text-center text-md-center text-sm-center text-xs-left"
                    >
                      <div class="button-group text-center">
                        <button
                          type="button"
                          class="btn btn-primary btn-cart"
                          data-target="#cart-pop"
                          data-toggle="modal"
                          {% if book.status != 'available' %}
                          disabled="disabled"
                          {% endif %}
                        ><a style="text-decoration: none; color: #fff;"
                        onmouseover="this.style.color='black';"
                        onmouseout="this.style.color='#fff';"
                        {% if user.is_authenticated %}
                            {% if book in shelf.books.all %}
                            href="{% url 'remshelf' user.username book.id %}"
                            {% else %}
                            href="{% url 'addshelf' user.username book.id %}"
                            {% endif %}
                          {% endif %}
                        >
                          <i class="material-icons">
                            {% if user.is_authenticated %}
                              {% if book in shelf.books.all %}
                              delete
                              {% else %}
                              shelves
                              {% endif %}
                            {% else %}
                            shelves
                            {% endif %}
                            </i><span>Add to shelf</span>
                        </a>
                        </button>
                        <a
                          {% if user.is_authenticated %}
                            {% if book in fav.books.all %}
                            href="{% url 'remwish' user.username book.id %}"
                            {% else %}
                            href="{% url 'addwish' user.username book.id %}"
                            {% endif %}
                          {% endif %}
                          class="btn btn-primary btn-wishlist"
                          ><i class="material-icons">
                            {% if user.is_authenticated %}
                              {% if book in fav.books.all %}
                              thumb_down
                              {% else %}
                              thumb_up
                              {% endif %}
                            {% else %}
                            sentiment_dissatisfied
                            {% endif %}
                            </i
                          ><span>wishlist</span></a>
                          <a
                          href="{% url 'book' 1 %}"
                          type="button"
                          class="btn btn-primary btn-quickview"
                          data-toggle="modal"
                          data-target="#product_view"
                        >
                          <i class="material-icons">visibility</i
                          ><span>Quick View</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
            </div>
          </div>
          <div class="pagination-wrapper float-left w-100">
            <p>Showing {{ books.start_index }} to {{ books.end_index }} of {{ books.paginator.count }} ({{ books.paginator.num_pages }} Pages)</p>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {% if books.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1" aria-label="First">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">First</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ books.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&lsaquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                    {% endif %}
                    {% for num in books.paginator.page_range %}
                        <li class="page-item {% if books.number == num %}active{% endif %}">
                            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                        </li>
                    {% endfor %}
                    {% if books.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ books.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&rsaquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ books.paginator.num_pages }}" aria-label="Last">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Last</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        
        </div>
        <!-- all_books.html -->

<!-- all_books.html -->

<!-- shelf.html -->

<div class="left-column sidebar-canvas order-lg-1">
  <span class="close-filter"></span>
  <div class="sidebar-inner w-100 float-left">
      <div class="sidebar-filter left-sidebar-canvas w-100 float-left">
          <div class="title">
              <a
                  data-toggle="collapse"
                  href="#sidebar-main"
                  aria-expanded="false"
                  aria-controls="sidebar-main"
                  class="d-lg-none block-toggler"
                  >Filter</a
              >
          </div>
          <div id="sidebar-main" class="sidebar-main collapse">
              <form action="" method="get">
                  <div class="sidebar-block categories">
                      <h3 class="widget-title">
                          <a
                              data-toggle="collapse"
                              href="#categoriesMenu"
                              role="button"
                              aria-expanded="true"
                              aria-controls="categoriesMenu"
                              >Genre</a
                          >
                      </h3>
                      <div id="categoriesMenu" class="expand-lg collapse show">
                          <div class="nav nav-pills flex-column mt-4">
                              {% for genre in genres %}
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" name="genre" value="{{ genre.name }}" id="genre{{ forloop.counter }}"
                                      {% if genre.name in genre_filter %}checked{% endif %}>
                                  <label class="form-check-label" for="genre{{ forloop.counter }}">{{ genre.name }}</label>
                              </div>
                              {% endfor %}
                          </div>
                      </div>
                  </div>
                  <div class="sidebar-block price">
                      <h3 class="widget-title">Not Available</h3>
                      <div class="price-inner">
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" name="availability" value="available" id="available"
                                  {% if 'available' in availability_filter %}checked{% endif %}>
                              <label class="form-check-label" for="available">Available</label>
                          </div>
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" name="availability" value="borrowed" id="borrowed"
                                  {% if 'borrowed' in availability_filter %}checked{% endif %}>
                              <label class="form-check-label" for="borrowed">Not Available</label>
                          </div>
                      </div>
                  </div>
                  <div class="sidebar-block color">
                      <h3 class="widget-title">Rating</h3>
                      <div class="form-check">
                          <input class="form-check-input" type="radio" name="rating" value="4+" id="rating4"
                              {% if rating_filter == '4+' %}checked{% endif %}>
                          <label class="form-check-label" for="rating4">4 and above</label>
                      </div>
                      <div class="form-check">
                          <input class="form-check-input" type="radio" name="rating" value="3+" id="rating3"
                              {% if rating_filter == '3+' %}checked{% endif %}>
                          <label class="form-check-label" for="rating3">3 and above</label>
                      </div>
                      <div class="form-check">
                          <input class="form-check-input" type="radio" name="rating" value="2+" id="rating2"
                              {% if rating_filter == '2+' %}checked{% endif %}>
                          <label class="form-check-label" for="rating2">2 and above</label>
                      </div>
                  </div>
                  <div class="sidebar-block">
                      <button type="submit" class="btn btn-primary">Apply Filters</button>
                      <a href="{% url 'shelf' %}" class="btn btn-secondary">Reset</a>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>



<!-- Pagination code remains the same as provided earlier -->

      </div>
    </div>
</div>
  {% endblock %}