.message {
  position: absolute;
  overflow: hidden;
  top: 20%;
  right: 10%;
  max-width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.message p {
  padding: 20px;
  color: #333;
  font-family: arial;
  font-size: 1.1rem;
  font-weight: 600;
}

.message span {
  font-size: 30px;
  margin: 20px;
  padding: 5px;
  cursor: pointer;
  background-color: #333;
  color: #fff;
}

.message span:hover {
  transition: 0.2s ease-in-out;
  border: 1px solid black;
  background: none;
  color: #333;
}

.badge {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
}
