{% extends 'pages/home/slidder.html' %} {% load static %} {% block trending %}
<div id="main">
  <div
    id="hometab"
    class="home-tab my-40 my-sm-25 bottom-to-top hb-animate-element"
  >
    <div class="container">
      <div class="row">
        <div class="tt-title d-inline-block float-none w-100 text-center">
          Trending Books
        </div>
        <div class="tabs">
          <ul class="nav nav-tabs justify-content-center">
            <li class="nav-item">
              <a
                class="nav-link active"
                data-toggle="tab"
                href="#ttfeatured-main"
                id="featured-tab"
                ><div class="tab-title">Featured</div></a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                data-toggle="tab"
                href="#ttnew-main"
                id="new-tab"
                ><div class="tab-title">Latest</div></a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                data-toggle="tab"
                href="#ttbestseller-main"
                id="bestseller-tab"
                ><div class="tab-title">Demanding</div></a
              >
            </li>
          </ul>
        </div>
        <div class="tab-content float-left w-100">
          <div
            class="tab-pane active float-left w-100"
            id="ttfeatured-main"
            role="tabpanel"
            aria-labelledby="featured-tab"
          >
            <section id="ttfeatured" class="ttfeatured-products">
              <div
                class="ttfeatured-content products grid owl-carousel"
                id="owl1"
              >
                <div class="product-layouts">
                  <div class="product-thumb">
                    <div class="image vertical_scrolling_bottom_to_top">
                      <a href="{% url 'book' 1 %}">
                        <img
                          src="{% static 'img/books/cover1.png' %}"
                          alt="01"
                        />
                        <img
                          src="{% static 'img/books/cover1.png' %}"
                          alt="02"
                          class="second_image img-responsive"
                        />
                      </a>
                      <!-- <ul class="countdown1 countdown">
                          <li>
                            <span class="days">10</span>
                            <p class="days_text">Days</p>
                          </li>
                          <li>
                            <span class="hours">00</span>
                            <p class="hours_text">Hours</p>
                          </li>
                          <li>
                            <span class="minutes">00</span>
                            <p class="minutes_text">Minutes</p>
                          </li>
                          <li>
                            <span class="seconds">00</span>
                            <p class="seconds_text">Seconds</p>
                          </li>
                        </ul> -->
                    </div>
                    <div class="thumb-description">
                      <div class="caption">
                        <h4 class="product-title text-capitalize">
                          <a href="{% url 'book' 1 %}"
                            >aliquam quaerat voluptatem</a
                          >
                        </h4>
                      </div>
                      <div class="rating">
                        <div
                          class="product-ratings d-inline-block align-middle"
                        >
                          <span class="fa fa-stack"
                            ><i class="material-icons">star</i></span
                          >
                          <span class="fa fa-stack"
                            ><i class="material-icons">star</i></span
                          >
                          <span class="fa fa-stack"
                            ><i class="material-icons">star</i></span
                          >
                          <span class="fa fa-stack"
                            ><i class="material-icons off">star</i></span
                          >
                          <span class="fa fa-stack"
                            ><i class="material-icons off">star</i></span
                          >
                        </div>
                      </div>
                      <div class="price">
                        <div class="regular-price">
                          <div class="badge">
                            <i class="material-icons">group</i> 235
                          </div>
                          <div class="badge">
                            <i class="material-icons">visibility</i> 235
                          </div>
                        </div>
                      </div>
                      <div class="button-wrapper">
                        <div class="button-group text-center">
                          <button
                            type="button"
                            class="btn btn-primary btn-cart"
                            data-target="#cart-pop"
                            data-toggle="modal"
                            disabled="disabled"
                          >
                            <i class="material-icons">shelves</i
                            ><span>Add to shelf</span>
                          </button>
                          <a
                            href="wishlist.html"
                            class="btn btn-primary btn-wishlist"
                            ><i class="material-icons">favorite</i
                            ><span>wishlist</span></a
                          >

                          <a
                            href="{% url 'book' 1 %}"
                            type="button"
                            class="btn btn-primary btn-quickview"
                            data-toggle="modal"
                            data-target="#product_view"
                          >
                            <i class="material-icons">visibility</i
                            ><span>Quick View</span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
          <div
            class="tab-pane float-left w-100"
            id="ttnew-main"
            role="tabpanel"
            aria-labelledby="new-tab"
          >
            <section id="ttnew" class="ttnew-products">
              <div class="ttnew-content products grid owl-carousel" id="owl2">
                <div class="product-layouts">
                  <div class="product-thumb">
                    <div class="image vertical_scrolling_bottom_to_top">
                      <a href="product-details.html">
                        <img
                          src="{% static 'img/books/cover1.png' %}"
                          alt="01"
                        />
                        <img
                          src="{% static 'img/books/cover1.png' %}"
                          alt="02"
                          class="second_image img-responsive"
                        />
                      </a>
                      <!-- <ul class="countdown1 countdown">
                      <li>
                        <span class="days">10</span>
                        <p class="days_text">Days</p>
                      </li>
                      <li>
                        <span class="hours">00</span>
                        <p class="hours_text">Hours</p>
                      </li>
                      <li>
                        <span class="minutes">00</span>
                        <p class="minutes_text">Minutes</p>
                      </li>
                      <li>
                        <span class="seconds">00</span>
                        <p class="seconds_text">Seconds</p>
                      </li>
                    </ul> -->
                    </div>
                    <div class="thumb-description">
                      <div class="caption">
                        <h4 class="product-title text-capitalize">
                          <a href="product-details.html"
                            >aliquam quaerat voluptatem</a
                          >
                        </h4>
                      </div>
                      <div class="rating">
                        <div
                          class="product-ratings d-inline-block align-middle"
                        >
                          <span class="fa fa-stack"
                            ><i class="material-icons">star</i></span
                          >
                          <span class="fa fa-stack"
                            ><i class="material-icons">star</i></span
                          >
                          <span class="fa fa-stack"
                            ><i class="material-icons">star</i></span
                          >
                          <span class="fa fa-stack"
                            ><i class="material-icons off">star</i></span
                          >
                          <span class="fa fa-stack"
                            ><i class="material-icons off">star</i></span
                          >
                        </div>
                      </div>
                      <div class="price">
                        <div class="regular-price">
                          <i class="material-icons">group</i> 235
                        </div>
                      </div>
                      <div class="button-wrapper">
                        <div class="button-group text-center">
                          <button
                            type="button"
                            class="btn btn-primary btn-cart"
                            data-target="#cart-pop"
                            data-toggle="modal"
                            disabled="disabled"
                          >
                            <i class="material-icons">shelves</i
                            ><span>Add to shelf</span>
                          </button>
                          <a
                            href="wishlist.html"
                            class="btn btn-primary btn-wishlist"
                            ><i class="material-icons">favorite</i
                            ><span>wishlist</span></a
                          >

                          <button
                            type="button"
                            class="btn btn-primary btn-quickview"
                            data-toggle="modal"
                            data-target="#product_view"
                          >
                            <i class="material-icons">visibility</i
                            ><span>Quick View</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
          <div
            class="tab-pane float-left w-100"
            id="ttbestseller-main"
            role="tabpanel"
            aria-labelledby="bestseller-tab"
          >
            <section id="ttbestseller" class="ttbestseller-products">
              <div
                class="ttbestseller-content products grid owl-carousel"
                id="owl3"
              >
                <div class="product-layouts">
                  <div class="product-thumb">
                    <div class="image vertical_scrolling_bottom_to_top">
                      <a href="product-details.html">
                        <img
                          src="{% static 'img/books/cover1.png' %}"
                          alt="01"
                        />
                        <img
                          src="{% static 'img/books/cover1.png' %}"
                          alt="02"
                          class="second_image img-responsive"
                        />
                      </a>
                      <!-- <ul class="countdown1 countdown">
                      <li>
                        <span class="days">10</span>
                        <p class="days_text">Days</p>
                      </li>
                      <li>
                        <span class="hours">00</span>
                        <p class="hours_text">Hours</p>
                      </li>
                      <li>
                        <span class="minutes">00</span>
                        <p class="minutes_text">Minutes</p>
                      </li>
                      <li>
                        <span class="seconds">00</span>
                        <p class="seconds_text">Seconds</p>
                      </li>
                    </ul> -->
                    </div>
                    <div class="thumb-description">
                      <div class="caption">
                        <h4 class="product-title text-capitalize">
                          <a href="product-details.html"
                            >aliquam quaerat voluptatem</a
                          >
                        </h4>
                      </div>
                      <div class="rating">
                        <div
                          class="product-ratings d-inline-block align-middle"
                        >
                          <span class="fa fa-stack"
                            ><i class="material-icons">star</i></span
                          >
                          <span class="fa fa-stack"
                            ><i class="material-icons">star</i></span
                          >
                          <span class="fa fa-stack"
                            ><i class="material-icons">star</i></span
                          >
                          <span class="fa fa-stack"
                            ><i class="material-icons off">star</i></span
                          >
                          <span class="fa fa-stack"
                            ><i class="material-icons off">star</i></span
                          >
                        </div>
                      </div>
                      <div class="price">
                        <div class="regular-price">
                          <i class="material-icons">group</i> 235
                        </div>
                      </div>
                      <div class="button-wrapper">
                        <div class="button-group text-center">
                          <button
                            type="button"
                            class="btn btn-primary btn-cart"
                            data-target="#cart-pop"
                            data-toggle="modal"
                            disabled="disabled"
                          >
                            <i class="material-icons">shelves</i
                            ><span>Add to shelf</span>
                          </button>
                          <a
                            href="wishlist.html"
                            class="btn btn-primary btn-wishlist"
                            ><i class="material-icons">favorite</i
                            ><span>wishlist</span></a
                          >

                          <button
                            type="button"
                            class="btn btn-primary btn-quickview"
                            data-toggle="modal"
                            data-target="#product_view"
                          >
                            <i class="material-icons">visibility</i
                            ><span>Quick View</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
  <main>
    <div class="main-content">
      <div id="ttcmsaboutus" class="ttaboutus my-40 my-sm-25">
        <div class="container">
          <div
            class="ttcmsaboutus ttabout d-lg-flex d-md-flex d-sm-flex d-xs-block align-items-center"
          >
            <div
              class="ttcmsabout-img col-sm-6 col-xs-12 float-left left-to-right hb-animate-element"
            >
              <div class="ttimage">
                <a href="#"
                  ><img
                    src="{% static 'img/books/author.jpg' %}"
                    alt="banner_1"
                /></a>
              </div>
            </div>
            <div
              class="ttcmsabout-desc col-sm-6 col-xs-12 float-left right-to-left hb-animate-element"
            >
              <div
                class="ttabout-title text-capitalize font-italic mb-30 position-relative"
              >
                Verified authors
              </div>
              <div
                class="ttabout-subtitle text-uppercase position-relative mb-30"
              >
                Get Started with their best books.
              </div>
              <div class="ttabout-desc mb-40">
                Welcome to our online haven for book enthusiasts! Dive into a
                world of literary wonders curated by the best and verified
                authors in the industry. At our website, we take pride in
                delivering an unparalleled reading experience, offering a
                handpicked selection of books crafted by the finest minds in
                literature. Our collection spans genres and tastes, ensuring
                that every reader finds their perfect match. Immerse yourself in
                the brilliance of our esteemed authors, who have poured their
                creativity into each masterpiece, guaranteeing you an enriching
                journey through the pages of the best books. Explore, discover,
                and indulge in the magic of storytelling with our carefully
                curated selection – where the words come alive, and the authors'
                brilliance shines through every chapter.
              </div>
              <div class="ttbtn">
                <a href="#" class="btn-primary text-capitalize">go to shelf</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <div
    id="ttcmstestimonial"
    class="my-40 my-sm-25 bottom-to-top hb-animate-element style2"
  >
    <div class="tttestimonial-content container">
      <div class="tttestimonial-inner">
        <ul class="tttestimonial owl-carousel">
          <li>
            <div
              class="testimonial-block d-lg-flex d-md-flex d-sm-block align-items-center"
            >
              <div class="ttimage col-sm-3 float-left">
                <div
                  class="testimonial-image float-left d-flex align-items-center"
                >
                  <img alt="" src="{% static 'img/books/person1.jpg' %}" />
                  <div class="testimonial-user-title">
                    <h4>Ludis</h4>
                    <div class="user-designation">Author</div>
                  </div>
                </div>
              </div>
              <div class="testimonial-content col-sm-9 float-left">
                <div class="testimonial-desc">
                  <p>
                    Duis faucibus enim vitae nunc molestie, nec facilisis arcu
                    pulvinar. Nullam mattis arcu convallis, bibendum dui ac,
                    laoreet est.Vivamus interdum egastas rutrum. Quisque laoreet
                    ante sed placerat imperdiet.
                  </p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
