{% extends "components/link.html" %} 
{% block class %}id="off-canvas-right" class="off-canvas-right"{% endblock %} 
{% load static %} 
{% block current %}{{user.username}} / profile{% endblock %} 
{% block rest %}
<div class="main-content w-100 float-left blog-list" style="margin-bottom: 50px;">
  <div class="container"> 
    <div class="row">
      <div class="products-grid col-xl-9 col-lg-8 order-lg-2">
        <div class="row">
          <div class="col-lg-12 order-lg-last account-content">
            <h4>Edit Account Information</h4>
            <form method="POST" class="myaccount-form">
              {% csrf_token %}
              <div class="row">
                  <div class="col-sm-12">
                      <div class="row">
                          <div class="col-md-4">
                              <div class="form-group required-field">
                                  <label for="id_first_name">First Name <span class="required">*</span></label>
                                  <input type="text" class="form-control" id="id_first_name" name="first_name" value="{{ user.first_name }}" required="">
                              </div>
                              <!-- End .form-group -->
                          </div>
                          <!-- End .col-md-4 -->
          
                          <div class="col-md-4">
                              <div class="form-group">
                                  <label for="id_username">Username <span class="required">*</span></label>
                                  <input type="text" class="form-control" id="id_username" name="username" value="{{ user.username }}">
                              </div>
                              <!-- End .form-group -->
                          </div>
                          <!-- End .col-md-4 -->
          
                          <div class="col-md-4">
                              <div class="form-group required-field">
                                  <label for="id_last_name">Last Name <span class="required">*</span></label>
                                  <input type="text" class="form-control" id="id_last_name" name="last_name" value="{{ user.last_name }}" required="">
                              </div>
                              <!-- End .form-group -->
                          </div>
                          <!-- End .col-md-4 -->
                      </div>
                      <!-- End .row -->
                  </div>
                  <!-- End .col-sm-11 -->
              </div>
              <!-- End .row -->
          
              <div class="form-group required-field">
                  <label for="id_email">Email</label>
                  <input type="email" class="form-control" id="id_email" name="email" value="{{ user.email }}" required="">
              </div>
              <!-- End .form-group -->
          
              <div class="form-group required-field">
                  <label for="id_password">Password</label>
                  <input type="password" class="form-control" id="id_password" name="password">
              </div>
          
              <div class="form-group required-field">
                  <label for="id_confirm_password">Confirm Password</label>
                  <input type="password" class="form-control" id="id_confirm_password" name="confirm_password" >
              </div>
              <!-- End .form-group -->
          
              <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="change_password_checkbox" name="change_password" value="1">
                  <label class="custom-control-label" for="change_password_checkbox">Change Password</label>
              </div>
              <!-- End .custom-checkbox -->
          
              <div id="account-change-password" class="">
                  <h4>Change Password</h4>
                  <div class="row">
                      <div class="col-md-6">
                          <div class="form-group required-field">
                              <label for="id_new_password">New Password</label>
                              <input type="password" class="form-control" id="id_new_password" name="new_password">
                          </div>
                          <!-- End .form-group -->
                      </div>
                      <!-- End .col-md-6 -->
          
                      <div class="col-md-6">
                          <div class="form-group required-field">
                              <label for="id_confirm_new_password">Confirm New Password</label>
                              <input type="password" class="form-control" id="id_confirm_new_password" name="confirm_new_password">
                          </div>
                          <!-- End .form-group -->
                      </div>
                      <!-- End .col-md-6 -->
                  </div>
                  <!-- End .row -->
              </div>
              <!-- End #account-change-pass -->
          
              <div class="required text-right">* Required Field</div>
              <div class="form-footer d-flex justify-content-between align-items-center">
                  <a href="#"><i class="material-icons">navigate_before</i>Back</a>
                  <div class="form-footer-right">
                      <button type="submit" class="btn btn-primary btn-primary">Save</button>
                      <a href="{% url 'logout' %}" class="btn btn-danger btn-danger" style="color: #fff;">Logout</a>
                  </div>
              </div>
              <!-- End .form-footer -->
          </form>
          
          </div>
        </div>
      </div>
      <div class="sidebar col-xl-3 col-lg-3 order-lg-1">
        <div class="sidebar-product left-sidebar w-100 float-left">
          <div class="title">
            <a
              data-toggle="collapse"
              href="#sidebar-product"
              aria-expanded="false"
              aria-controls="sidebar-product"
              class="d-lg-none block-toggler"
              >Borrowed Books</a
            >
          </div>
          <div id="sidebar-product" class="collapse w-100 float-left">
            <div class="sidebar-block sale products">
              <h3 class="widget-title">Borrowed Books</h3>
              {% for a in shelfs.book.all %}
              <div class="product-layouts">
                <div class="product-thumb">
                  <div class="image col-sm-4 float-left">
                    <a href="#"> <img src="{{a.coverpage.url}}" alt="01" /> </a>
                  </div>
                  <div class="thumb-description col-sm-8 text-left float-left">
                    <div class="caption">
                      <h4 class="product-title text-capitalize">
                        <a href="{% url 'book' a.id %}"
                          >{{a.title}}</a
                        >
                      </h4>
                    </div>
                    <div class="price">
                      <div class="product-title text-capitalize">{{shelfs.borrowed_date}}</div>
                    </div>
                    <div class="w-100 d-flex" style="margin-left: -50%; justify-content: space-between;">
                      
                      <a target="_blank" href="{{a.book.url}}" style="z-index: 10;" class="btn btn-primary btn-primary">
                        read
                      </a>
                      <a href="{% url 'rembook' user.username a.id %}" class="btn btn-info btn-info " style="color: #fff;">
                        return
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
