{% extends "components/link.html" %} 
{% block class %}id="off-canvas-right" class="off-canvas-right"{% endblock %} 
{% load static %} 
{% block current %}{{username}} / my shelf{% endblock %} 
{% block rest %}
<div class="cart-area table-area pt-110 pb-95 float-left w-100">
    <div class="container">
    <div class=" cart-wrapper float-left w-100">
        <div class="table-responsive">
            <table class="table product-table text-center">
                <thead>
                    <tr>
                        <th class="table-remove text-uppercase">remove</th>
                        <th class="table-image text-uppercase">image</th>
                        <th class="table-p-name text-uppercase">product</th>
                        <th class="table-p-price text-uppercase">borrowed people</th>
                        <th class="table-p-qty text-uppercase">Stock Status</th>
                        <th class="table-total text-uppercase">Borrow</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="table-remove"><button><i class="material-icons">delete</i></button></td>
                        <td class="table-image"><a href="product-details.html"><img src="{% static 'img/books/cover1.png' %}" alt=""></a></td>
                        <td class="table-p-name text-capitalize"><a href="product-details.html">aspetur autodit autfugit</a></td>
                        <td class="table-p-price"><p>300</p></td>
                        <td class="table-p-qty">in stock</td>
                        <td class="table-addtocart"><a href="cart_page.html" class="btn-primary btn">Borrow</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
    </div>
    
</div>
{% endblock %}