{% extends "components/footer.html" %} 
{% block class %}class="index layout3"{% endblock%} 
{% load static %} 
{% block main %}
<main>
  <div class="slider-wrapper mb-40 my-sm-25 float-left w-100">
    <div class="slider slider-for owl-carousel">
      <div>
        <a href="#">
          <img src="{% static 'img/books/slider1.jpg' %}" alt="" />
        </a>
        <div class="slider-content-wrap center effect_top">
          <div class="slider-title mb-20 text-capitalize float-left w-100" style="color: #fff; -webkit-text-stroke-width: 1px; -webkit-text-stroke-color: red;">
            Together, let's celebrate the magic of storytelling and expand our literary horizons. 
          </div>
          <div class="slider-button text-uppercase float-left w-100">
            <a href="{% url 'shelf' %}">go to shelf</a>
          </div>
        </div>
      </div>
      <div>
        <a href="#">
          <img src="{% static 'img/books/slider2 .jpg' %}" alt="" />
        </a>
        <div class="slider-content-wrap center effect_bottom">
          <div class="slider-subtitle mb-50 text-capitalize float-left w-100" style="color: #fff;">
            Find inspiration within pages.
          </div>
          <div class="slider-button text-uppercase float-left w-100">
            <a href="{% url 'shelf' %}">go to shelf</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% block trending %} {% endblock %}
</main>
{% endblock %}
