{% extends "components/header.html" %} {% load static %} {% block footer %}
<section>{% block main %} {% endblock %}</section>
<footer class="page-footer font-small footer1">
  <div class="container text-center text-md-left">
    <div class="row">
      <div class="col-md-6 footer-column">
        <div class="title">
          <a
            href="#information"
            class="font-weight-normal text-capitalize mb-10"
            data-toggle="collapse"
            aria-expanded="false"
            >store information</a
          >
        </div>
        <ul id="information" class="list-unstyled collapse">
          <li class="contact-detail links">
            <span class="address">
              <span class="icon"
                ><i class="material-icons">location_on</i></span
              >
              <span class="data"> Addis Ababa, Ethiopia</span>
            </span>
          </li>
          <li class="links">
            <span class="contact">
              <span class="icon"><i class="material-icons">phone</i></span>
              <span class="data"
                ><a href="tel:(99)55669999">+ (123) 45-678-910</a></span
              >
            </span>
          </li>
          <li class="links">
            <span class="email">
              <span class="icon"><i class="material-icons">email</i></span>
              <span class="data"
                ><a href="mailto:demo.store@gmail.com"
                  >demo.store@gmail.com</a
                ></span
              >
            </span>
          </li>
        </ul>
      </div>
      <div class="col-md-2 footer-column">
        <div class="title">
          <a
            href="#company"
            class="font-weight-normal text-capitalize mb-10"
            data-toggle="collapse"
            aria-expanded="false"
            >company</a
          >
        </div>
        <ul id="company" class="list-unstyled collapse">
          <li>
            <a href="#">search</a>
          </li>
          <li>
            <a href="#">New Products</a>
          </li>
          <li>
            <a href="category.html">Best Collection</a>
          </li>
          <li>
            <a href="wishlist.html">wishlist</a>
          </li>
        </ul>
      </div>
      <div class="col-md-2 footer-column">
        <div class="title">
          <a
            href="#company"
            class="font-weight-normal text-capitalize mb-10"
            data-toggle="collapse"
            aria-expanded="false"
            >company</a
          >
        </div>
        <ul id="company" class="list-unstyled collapse">
          <li>
            <a href="#">search</a>
          </li>
          <li>
            <a href="#">New Products</a>
          </li>
          <li>
            <a href="category.html">Best Collection</a>
          </li>
          <li>
            <a href="wishlist.html">wishlist</a>
          </li>
        </ul>
      </div>

      <!-- <div class="col-md-4 footer-column newsletter">
        <div class="block-newsletter">
          <div class="title">
            <a href="#" class="font-weight-normal text-capitalize mb-10"
              >Sign Up For Newsletter</a
            >
          </div>
          <div class="block-content">
            <div class="footer-desc">
              Sign up to our newsletter to get the latest books, authors
            </div>
            <form method="post" action="contact-us.html">
              <div class="input-group">
                <input
                  type="email"
                  name="email"
                  value=""
                  placeholder="Email address.."
                  required=""
                  class="form-control"
                />
                <span class="input-group-btn">
                  <button
                    class="btn btn-theme text-uppercase btn-primary"
                    type="submit"
                  >
                    Subscribe
                  </button>
                </span>
              </div>
            </form>
          </div>
        </div>
      </div> -->
    </div>
  </div>
  <!-- Copyright -->
  <div class="footer-bottom-wrap float-left w-100">
    <div class="container">
      <div class="row">
        <div class="footer-copyright text-center py-3">
          © 2024 - Djabooks store™
        </div>
      </div>
    </div>
  </div>
  <a href="#" id="goToTop" title="Back to top" class="btn-primary"
    ><i class="material-icons arrow-up">keyboard_arrow_up</i></a
  >
</footer>
{% endblock %}
