{% extends 'components/base.html' %} {% load static %} {% block header %}
<header class="header-area header-sticky text-center header-default">
  <div class="header-main-sticky">
    <div class="header-nav">
      <div class="container">
        <div class="nav-left float-left">
          <div class="ttheader-service">spot any error on our website?</div>
        </div>
        <div class="nav-right float-right d-flex">
          <div class="ttheader-mail">
            <a href="mailto:demo.store@gmail.com">demo.store@gmail.com</a>
          </div>
        </div>
      </div>
    </div>
    <div class="header-main">
      <div class="container">
        <div
          class="header-left float-left d-flex d-lg-flex d-md-block d-xs-block"
        >
          <div class="contact">
            <i class="material-icons">books</i>
            <span>Djabooks</span>
          </div>
        </div>
        <div
          class="header-middle float-lg-left float-md-left float-sm-left float-xs-none"
        >
          <div class="logo">
            <a href="{% url 'index' %}"
              ><img
                src="{% static 'img/logo/logo.png' %}"
                width="50px"
                height="50px"
                alt="NatureCircle"
            /></a>
          </div>
        </div>
        <div
          class="header-right d-flex d-xs-flex d-sm-flex justify-content-end float-right"
        >
          <div class="search-wrapper">
            <a>
              <i class="material-icons search">search</i>
              <i class="material-icons close">close</i>
            </a>
            <form autocomplete="off" method="POST" class="search-form">
              {% csrf_token %}
              <div class="autocomplete" style="width: 300px">
                <input
                  id="myInput"
                  type="text"
                  name="myCountry"
                  placeholder="Search here"
                  name="search"
                />
                <button type="submit">
                  <i class="material-icons">search</i>
                </button>
              </div>
            </form>
          </div>
          <div class="user-info">
            <a
              href="#"
              class="modal-view button"
              data-toggle="modal"
              data-target="#modalLoginForm"
              ><i class="material-icons" style="margin-top: 15px"
                >perm_identity</i
              ></a
            >
            <!-- <div id="user-dropdown" class="user-menu">
                <ul>
                  <li>
                    <a href="my-account.html" class="text-capitalize"
                      >my account</a
                    >
                  </li>
                  <li>
                    <a
                      href="#"
                      class="modal-view button"
                      data-toggle="modal"
                      data-target="#modalRegisterForm"
                      >Register</a
                    >
                  </li>
                  <li>
                    <a
                      href="#"
                      class="modal-view button"
                      data-toggle="modal"
                      data-target="#modalLoginForm"
                      >login</a
                    >
                  </li>
                </ul>
              </div> -->
          </div>
          <div class="cart-wrapper">
            <button type="button" class="btn">
              <i class="material-icons">shelves</i>
              <span class="ttcount">0</span>
            </button>
            <div id="cart-dropdown" class="cart-menu">
              <ul class="w-100 float-left">
                <li>
                  <table class="table table-striped">
                    <tbody>
                      <tr>
                        <td>No book available</td>
                      </tr>
                      <!-- <tr>
                        <td class="text-center">
                          <a href="#"
                            ><img
                              src="{% static 'img/books/cover1.png' %}"
                              alt="01"
                              title="01"
                          /></a>
                        </td>
                        <td class="text-left product-name">
                          <a href="#">A Clash of Kings</a>
                          <div class="quantity float-left w-100">
                            <span class="cart-qty">George R.R martin</span>
                          </div>
                        </td>
                        <td class="text-center close">
                          <a class="close-cart"
                            ><i class="material-icons">close</i></a
                          >
                        </td>
                      </tr> -->
                    </tbody>
                  </table>
                </li>
                <li>
                  <table class="table price mb-30">
                    <tbody>
                      <tr>
                        <td class="text-left">
                          <strong>Available shelves</strong>
                        </td>
                        <td class="text-right"><strong>Unknown</strong></td>
                      </tr>
                    </tbody>
                  </table>
                </li>
                <li class="buttons w-100 float-left">
                  <form action="cart_page.html">
                    <input
                      class="btn pull-left mt_10 btn-primary btn-rounded w-100"
                      value="View Shelf"
                      type="submit"
                    />
                  </form>
                  <form action="checkout_page.html">
                    <input
                      class="btn pull-right mt_10 btn-primary btn-rounded w-100"
                      value="Borrow"
                      type="submit"
                    />
                  </form>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="menu">
      <!-- Navbar -->
      <nav
        class="navbar navbar-expand-lg navbar-light d-sm-none d-xs-none d-lg-block navbar-full"
      >
        <!-- Navbar brand -->
        <a class="navbar-brand text-uppercase d-none" href="#">Djabooks</a>

        <!-- Collapse button -->
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent2"
          aria-controls="navbarSupportedContent2"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse">
          <!-- Links -->
          <ul class="navbar-nav m-auto justify-content-center">
            <li class="nav-item dropdown active">
              <a class="nav-link text-uppercase" href="{% url 'index' %}">
                Home
              </a>
            </li>
            <li class="nav-item dropdown active">
              <a class="nav-link text-uppercase" href="{% url 'shelf' %}">
                Shelf
              </a>
            </li>
          </ul>
          <!-- Links -->
        </div>
        <!-- Collapsible content -->
      </nav>
    </div>
  </div>
</header>

{% block footer %} {% endblock %}

<div
  class="modal fade"
  id="modalLoginForm"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-medium text-left">Sign in</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="modal-body mx-3">
          <div class="md-form mb-4">
            <input
              type="text"
              id="LoginForm-name"
              class="form-control validate"
              placeholder="Username"
              autocomplete="off"
              autocapitalize="off"
              name="username"
              required
            />
          </div>
          <div class="md-form mb-4">
            <input
              type="password"
              id="LoginForm-pass"
              class="form-control validate"
              placeholder="Your password"
              name="password"
              required
              autocapitalize="off"
              autocomplete="off"
            />
          </div>
          <div class="checkbox-link d-flex justify-content-between">
            <!-- <div class="left-col">
              <input type="checkbox" id="remember_me" name="remember" /><label
                for="remember_me"
                >Remember Me</label
              >
            </div> -->
            <div class="left-col">
              <a
                href="#"
                class="modal-view button"
                data-toggle="modal"
                data-target="#modalRegisterForm"
                aria-hidden="true"
                data-dismiss="modal"
                aria-label="Close"
                >New to Djabooks? Register Here</a
              >
            </div>
            <div class="right-col">
              <a
                href="#"
                class="modal-view button"
                data-toggle="modal"
                data-target="#modalForgetForm"
                >Forget Password?</a
              >
            </div>
          </div>
        </div>

        <div class="modal-footer d-flex justify-content-center">
          <button class="btn btn-primary" type="submit" name="login">
            Sign in
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="modalRegisterForm"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-medium text-left">Sign up</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST">
        {% csrf_token %}
        <div class="modal-body mx-3">
          <div class="md-form mb-4">
            <input
              type="text"
              id="RegisterForm-name"
              class="form-control validate"
              placeholder="Full Name"
              autocomplete="on"
              autocapitalize="on"
              name="name"
              required
            />
          </div>
          <div class="md-form mb-4">
            <input
              type="text"
              id="RegisterForm-name"
              class="form-control validate"
              placeholder="Username"
              autocomplete="off"
              autocapitalize="off"
              name="username"
              required
            />
          </div>
          <div class="md-form mb-4">
            <input
              type="email"
              id="RegisterForm-email"
              class="form-control validate"
              placeholder="Your email address"
              autocomplete="on"
              autocapitalize="off"
              name="email"
              required
            />
          </div>
          <div class="md-form mb-4">
            <input
              type="password"
              id="RegisterForm-pass"
              class="form-control validate"
              placeholder="Your password"
              name="password1"
              required
            />
          </div>
          <div class="md-form mb-4">
            <input
              type="password"
              id="RegisterForm-pass"
              class="form-control validate"
              placeholder="Confirm password"
              name="password2"
              required
            />
          </div>
        </div>

        <div class="modal-footer d-flex justify-content-center">
          <div class="checkbox-link d-flex justify-content-between w-100">
            <div class="left-col">
              <a
                href="#"
                class="modal-view button"
                data-toggle="modal"
                data-target="#modalLoginForm"
                aria-hidden="true"
                data-dismiss="modal"
                aria-label="Close"
                >Already have an account? Login here</a
              >
            </div>
          </div>
          <br />
          <button type="submit" class="btn btn-primary" name="register">
            Sign up
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="modalForgetForm"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-medium text-left">
          Forgot Password
        </h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST">
        {% csrf_token %}
        <div class="modal-body mx-3">
          <div class="md-form mb-4">
            <input
              type="email"
              id="LoginForm-name"
              class="form-control validate"
              placeholder="Email Address.."
              autocomplete="off"
              required
              name="email"
            />
          </div>
        </div>

        <div class="modal-footer d-flex justify-content-center">
          <button class="btn btn-info" type="submit" name="reset">
            Send rest link
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
